*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.colors{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
    
}
.color{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: solid;

}
.color:hover{
    cursor: pointer;
    opacity: 25%;
}
